{% include directory ~ '/partials/header.html.twig' %} 
{% include directory ~ '/partials/navbar.html.twig' %}
<div class="row">
	<div class="container">
		<main role="main">
			<a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
			
			<div class="row">
				<div class="col-xs-12">
					<div class="layout-content">
						<div class="top">{{ page.content }}</div>
					</div>
				</div>
			</div>
		</main>
		{% include directory ~ '/partials/footer.html.twig' %} 
	</div>{# /.layout-container #}
</div>
	
